In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
database = pd.read_excel("dummy_users.xlsx")
database.head(5)

,id,name,role,salary,age,gender,alive,department,alone,phone_number,city,state,single
0,1,Margaret Moore,Developer,57887,25,Male,No,Operations,No,(254)682-1008x497,Chicago,TX,Yes
1,2,Johnny Mcdowell,Designer,108087,43,Male,No,Finance,No,713.998.3327x6460,Houston,CA,No
2,3,Elizabeth Miller,Manager,68709,42,Female,No,HR,Yes,001-823-068-8392x5295,Los Angeles,CA,Yes
3,4,Lydia Baldwin,Designer,92735,59,Female,No,Operations,No,353-149-4250x81413,Los Angeles,NY,Yes
4,5,John Mccoy,QA,95393,49,Male,No,HR,Yes,(270)652-6399,New York,IL,Yes

In [3]:
from sklearn.preprocessing import LabelEncoder

In [13]:
le = LabelEncoder()
database["Role_Label"] =  le.fit_transform(database['role'])

In [14]:
database

,id,name,role,salary,age,gender,alive,department,alone,phone_number,city,state,single,Role_Label
0,1,Margaret Moore,Developer,57887,25,Male,No,Operations,No,(254)682-1008x497,Chicago,TX,Yes,1
1,2,Johnny Mcdowell,Designer,108087,43,Male,No,Finance,No,713.998.3327x6460,Houston,CA,No,0
2,3,Elizabeth Miller,Manager,68709,42,Female,No,HR,Yes,001-823-068-8392x5295,Los Angeles,CA,Yes,3
3,4,Lydia Baldwin,Designer,92735,59,Female,No,Operations,No,353-149-4250x81413,Los Angeles,NY,Yes,0
4,5,John Mccoy,QA,95393,49,Male,No,HR,Yes,(270)652-6399,New York,IL,Yes,4
5,6,Tammy Young,Manager,95075,24,Male,No,IT,No,873-694-2651,New York,IL,No,3
6,7,Brandon White,Manager,111498,47,Male,No,IT,Yes,835.762.2368,Phoenix,TX,Yes,3
7,8,Christopher Orr,HR,64010,47,Female,Yes,Marketing,Yes,+1-279-226-0460x52724,Chicago,AZ,No,2
8,9,Nichole Parker,Manager,72881,57,Female,Yes,Marketing,Yes,903-317-9345x3181,Chicago,AZ,No,3
9,10,Roberto Alexander,QA,74258,57,Male,No,HR,No,+1-019-849-1380,Phoenix,NY,No,4
10,11,Shannon Cruz,QA,106298,38,Female,Yes,Operations,Yes,437-759-4536x62067,Phoenix,IL,Yes,4
11,12,Debbie Alexander,HR,58278,36,Male,Yes,Operations,Yes,001-045-362-8530x815,Chicago,AZ,No,2
12,13,Damon Gomez,QA,106662,29,Male,No,IT,Yes,793.194.0598,Los Angeles,TX,No,4
13,14,Tammy Gonzales,Designer,112268,41,Male,Yes,Finance,Yes,+1-012-032-5175x14383,New York,NY,Yes,0
14,15,Jeffrey Hart,Designer,83478,28,Female,No,Finance,Yes,(619)142-7477x96360,New York,IL,No,0
15,16,Jackie Morales,Developer,89011,31,Female,No,Marketing,Yes,+1-961-789-0132,Phoenix,TX,Yes,1
16,17,Richard Jones,HR,82712,45,Male,Yes,IT,No,(930)417-8337,Houston,CA,Yes,2
17,18,Jonathan Harvey,QA,49253,50,Male,Yes,Finance,No,+1-285-359-0023x7478,Los Angeles,CA,No,4
18,19,Brittney Peters,Designer,97258,55,Female,No,Marketing,No,4751864920,Chicago,AZ,Yes,0
19,20,Michael Carrillo,Manager,94125,59,Male,No,HR,No,(110)536-7341,Chicago,NY,No,3